*{
  margin: 0 auto;
}
.site-header{
  margin-bottom: 4rem;
}
.Navbar-img{
  width:90px;
}

.Card-style{
  box-shadow: 0px 4px 20px rgba(46, 45, 45, 0.25);
  border-color: #FFFFFF;
  background: #FFFFFF;
}
.Card-style:hover{
 transform: scale(1.1);
 transition: all 1.3s;
}

.aqua{
  color: aqua;
}